.scroll-top {
    width: 36px;
    height: 36px;
    padding: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
  .display {
    opacity: 1;
  }
  svg {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    fill-rule: evenodd;
    stroke-linecap: round;
  }