<div class="bloc nav l-bloc" id="bloc-0">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col">
        <nav class="navbar row navbar-light">
          <a class="navbar-brand" href="/">
            <img
              src="https://www.satellit.be/img/satellit-logo-rvb_1_orig.png"
              alt="logo-satellit"
            />
          </a>
          <button
            id="nav-toggle"
            type="button"
            class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0 menu-icon-rounded-bars toggle-btn"
            (click)="toggle()"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <ng-container *ngIf="display">
            <div class="navbar-collapse fullscreen-nav">
              <button
                (click)="toggle()"
                type="button"
                class="close"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <ul class="site-navigation nav navbar-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link a-btn">Home</a>
                </li>
                <li class="nav-item nav-link">
                  <a href="/about-us" class="nav-link a-btn">About us</a>
                </li>
                <li class="nav-item nav-link">
                  <a href="/jobs" class="nav-link a-btn">Jobs</a>
                </li>
                <li class="nav-item nav-link">
                  <a href="/community" class="nav-link a-btn">Community</a>
                </li>
                <li class="nav-item">
                  <a href="/training-center" class="nav-link a-btn"
                    >Training center</a
                  >
                </li>
                <li class="nav-item nav-link">
                  <a href="/contact" class="nav-link a-btn">Contact us</a>
                </li>
              </ul>
            </div>
          </ng-container>
        </nav>
      </div>
    </div>
  </div>
</div>
