.big-p {
    font-size: 21px;
    line-height: 30px;
    width: 80.23%;
    margin-top: 25px;
  }
  .mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .bg-Rocket {
    background-image: url("https://www.satellit.be/img/Rocket.png");
  }
  .wwd {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #ffffff !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #333333;
    max-width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 75px;
  }