.p-81-style {
    width: 44.38%;
  }
  .big-p {
    font-size: 21px;
    line-height: 30px;
    width: 80.23%;
    margin-top: 25px;
  }
  a {
    color: #1a191d !important;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .bloc-lg {
    padding: 100px 20px;
  }