<div class="container bloc-lg bloc-no-padding-lg no-margin">
    <div class="row green-box-about">
        <div class="align-self-center talk-content col-sm-11 col-lg-5">
            <h4 class="mg-md h4-style tc-white white-script">
                Next event to meet the troops
            </h4>
            <h2 class="mg-md h2-style h2-bloc-8-style text-left">
                #Talk : Micro Frontend with module federation
            </h2>
            <p class="p-bloc-6-style mg-lg">
                Module Federation allows loading Micro Frontends at runtime. Common dependencies like Angular or any library can be shared and hence don't need to be loaded several times. This is also the key for sharing data like the application state.
            </p>
        </div>
        <div class="offset-lg-0 col-lg-7 col-sm-10 align-self-end">
            <img src="https://www.satellit.be/img/satellit-peope-office-03.png" class="img-fluid mx-auto d-block img-bloc-6-style lazyloaded" alt="shutterstock_610931219">
        </div>
    </div>
</div>

<style>
    .green-box-about {
    background: linear-gradient(20deg, #00BA82 0%, #00BA82 32%, #6F7BFE 100%);
    color: #FFFFFF!important;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 75px;
    padding-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
}
</style>