body {
  font-family: "Lato", sans-serif;
}


.green-line {
  position: relative;
  right: -45%;
  top: -20px;
  display: inline-block;
  overflow: hidden;
}
.white-line-smalll {
  position: absolute;
  top: 65px;
  overflow: hidden;
  left: 100px;
  margin-bottom: 25px;
}