.green-box-about {
    background: linear-gradient(20deg, #00BA82 0%, #00BA82 32%, #6F7BFE 100%);
    color: #FFFFFF!important;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 75px;
    padding-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
}