.black-link {
    color: #1a191d !important;
    font-weight: 700;
    font-size: 21px;
    line-height: 75px;
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 30;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .small-center {
    width: 45%;
    text-align: center;
  }
  .big-p {
    font-size: 21px;
    line-height: 30px;
    margin-top: 25px;
  }
  .tc-dark-jungle-green {
    color: #1a191d !important;
  }
  .mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
  }