<div class="bloc tc-dark-jungle-green" id="bloc-34">
	<div class="container bloc-lg no-margin">
		<div class="row">
			<div class="col">
				<div class="row footer-bloc">
					<div class="col align-self-start">
						<div class="row align-items-center">
							<div class="col align-self-start">
								<ul class="list-unstyled">
									<li>
										<p>
											<a class="footer-links" href="index.html">Home</a>
										</p>
									</li>
									<li>
										<p>
											<a class="footer-links" href="about-us.html">About us</a>
										</p>
									</li>
									<li>
										<p class="footer-links">
											<a class="footer-links" href="jobs.html">Jobs</a>
										</p>
									</li>
								</ul>
							</div>
							<div class="col align-self-start">
								<ul class="list-unstyled">
									<li>
										<p>
											<a class="footer-links " href="community.html">Community</a>
										</p>
									</li>
									<li>
										<p>
											<a class="footer-links" href="training-center.html">Training Center</a>
										</p>
									</li>
									<li>
										<p class="footer-links">
											<a class="footer-links" href="contact.html">Contact</a>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="offset-lg--1 col-lg-4 align-self-start">
						<h3 class="mg-md object-hidden">
							Satellit&nbsp;
						</h3>
						<p>
							Chée de Waterloosestwg, 870<br>1180 Brussels<br>Belgium<br>32 (0)2/850.29.64<br><a class="ltc-dark-jungle-green" href="mailto:info@satellit.be">​info@satellit.be</a><br>
						</p>
					</div>
				</div>
				<div class="form-group text-lg-center container-div-0-style">
					<p class="mg-clear text-sm-center">
						© 2021 Satellit. All rights reserved
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
    .ltc-dark-jungle-green {
        text-decoration: none!important;
        color: black;
        cursor: pointer;
    }
    .footer-links{
        font-weight: 500;
        text-decoration: underline!important;
        color: black;
    }
    .footer-links:hover, .ltc-dark-jungle-green:hover {
        color: black;
    }
</style>