---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="row">
  <div class="col">
    <p class="green-title">
      {title}
    </p>
    <div class="tab-content content-tab">
      <p class="tab-text">
        {description}
      </p>
    </div>
  </div>
</div>

<style>
  .green-title {
    font-size: 40px;
    color: #2dce94 !important;
    font-weight: 700;
    display: block;
    float: none;
    width: 100%;
    margin-top: 25px;
  }
  .content-tab {
    column-count: 2;
    column-gap: 5%;
    column-width: 46%;
  }
  .content-tab {
    margin-top: 25px;
  }
  .tab-text {
    font-size: 18px;
    text-align: left;
    display: block;
    color: #1a191d !important;
    line-height: 30px;
    clear: both;
    padding-top: 0px;
    margin-top: 0px;
  }
</style>
